.users {
  grid-area: users;

  padding: 1rem;
  display: block;

  color: var(--off-white);
  background-color: var(--dark-blue-gray);
}

.heading {
  margin: 2rem 0;
}

@media screen and (max-width: 599px) {
  .users {
    display: none;
  }
}
