.messages {
  position: relative;
  grid-area: messages;
  padding: 2rem;
  background-color: var(--off-white);
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.message {
  margin-top: 1rem;
  padding: 1rem;
  width: fit-content;
  color: var(--off-white);
  background-color: var(--dark-green);
  border-radius: 5px;
}

.isUser {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
  background-color: var(--dark-blue);
}

.timestamp {
  margin-top: 1rem;
  font-size: 12px;
  display: block;
}

.endOfMessages {
  visibility: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 20px;
}

.newMessage {
  visibility: visible;
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 99;

  padding: 10px;

  background-color: var(--off-white);
  border: 1px solid var(--dark-blue-gray);
  border-radius: 5px;
  opacity: 0.8;
}

.newMessageHide {
  visibility: hidden;
}
