.section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  flex: 0 0 auto;
}

.chatArea {
  height: calc(100% - var(--nav-height));
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 115px;
  grid-template-areas:
    'users messages messages messages messages'
    'users form form form form';
}

.form {
  grid-area: form;

  padding: 1rem 2rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background-color: var(--light-gray);
}

.label {
  margin: 0;
  flex: 2 1 auto;
}

.label > input {
  width: 100%;
}

.form > button[type='submit'] {
  font-weight: bold;
  text-transform: uppercase;
}
