.navbar {
  padding: 10px;
  height: var(--nav-height);
  width: 100%;

  display: flex;
  justify-content: space-between;

  background-color: var(--dark-blue);
}

.navBarFixed {
  position: fixed;
  top: 0;
  z-index: 999;
}

.navContent {
  height: 100%;
  display: flex;
  align-items: center;

  color: var(--off-white);
}

.navContent > *:not(:last-child) {
  margin-right: 15px;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
}

.logo {
  display: block;
  height: 100%;
  width: auto;
}

.settingsButton {
  padding: 0;
  height: 100%;
  width: 40px;
  background-color: transparent;
  border-color: transparent;
}

.navlink:link,
.navlink:visited {
  padding: 1rem 1.5rem;
  background-color: var(--off-white);
  border-radius: 5px;
  font-weight: bolder;
  color: var(--dark-blue);
  text-decoration: none;
  text-transform: uppercase;

  transition: background-color 300ms;
}

.navlink:hover {
  background-color: var(--light-gray);
}
